{% extends 'main/layout.html' %}

{% block title %}О проекте{% endblock %}

{% block main %}
	<center>
		<p>Данный сайт предназначен для того, чтобы пользователь мог рассчитать свою вероятную оценку за семестр исходя из своих учебных привычек.</p>
		<p>Cайт был выполнен в рамках проекта по предмету ПиКПО</p>
		<p>студенткой группы ПРО-327</p>
		<p>Логиновой Полиной Евгеньевной</p>
		<p></p>
		<p>Вычисление делается на основе данных о результатах более ста студентов</p>
	</center>
{% endblock %}

